<div class="footer w3layouts">
    <div class="container">
        <div class="footer-top-at w3">
            <div class="col-md-3 amet-sed w3l">
                <h4>MORE INFO</h4>
                <ul class="nav-bottom">
                    <li><a href="#"></a></li>
                    <li><a href="faq.php">FAQ</a></li>
                    <li><a href="contact.php">Location</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col-md-3 amet-sed w3ls">
                <h4>CATEGORIES</h4>
                <ul class="nav-bottom">
                    <li><a href="/products">BEDDINGS</a></li>
                    <li><a href="/babybeddings">BABY BEDDINGS</a></li>
                    <li><a href="/interiordecor">INTERIOR DECORATION</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="col-md-3 amet-sed agileits">
                <h4>NEWSLETTER</h4>
                <div class="stay agileinfo">
                    <div class="stay-left wthree">
                        <form action="#" method="post">
                            <input type="text" placeholder="Enter your email " required="">
                        </form>
                    </div>
                    <div class="btn-1 w3-agileits">
                        <form action="#" method="post">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
                <div class="col-md-3 amet-sed agileits-w3layouts">
                    <h4>CONTACT US</h4>
                    <p>Dr Ogwuma K.</p>
                    <p>CEO KaysFittings</p>
                    <p>office : +234 803 6783 987</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class w3-agile">
            <p>©Kaysfittings 2019. All Rights Reserved | Developed by <a href="https://twitter.com/BoyePanthera" target="_blank">@BoyePanthera</a>
            </p>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</html>